*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  max-inline-size: 1140px;
}

.content__details {
  inline-size: 399px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  padding-top: 2px;
}

.title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2px;
}

.content__video-card-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  max-inline-size: 200px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-description::first-letter {
  text-transform: capitalize;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  min-block-size: 100%;
  min-inline-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.search-form__fieldset-title {
  font: inherit;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.search-form__label input:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  font: inherit;
  appearance: none;
  background-color: transparent;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  min-inline-size: 225px;
  padding: 2px 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  block-size: 20px;
  inline-size: 20px;
  border: 1px solid #fff;
  vertical-align: middle;
  padding: 2px;
}

span {
  position: relative;
}

input[type="checkbox"]:checked + span::before {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: #fff;
}

.button {
  cursor: pointer;
  font: inherit;
  align-self: end;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 700;
  color: #fff;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
  outline-offset: 1px;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  block-size: 34px;
  inline-size: 194px;
}

.more-button {
  inline-size: 100%;
  min-block-size: 34px;
}

li .content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
